Дан датасет. По нему выполните следующие задания:

1) Найдите час, в который чаще всего совершались сделки. (Подсказка: из ячеек формата DateTime можно извлечь час с помощью .dt.hour; например data['Date'].dt.hour)
2) Найдите среднее, медиану и стандартное отклонение у округленных до целого значений df['Price']. Ответы округлите до десятых и выпишите их через пробел.
3) Найдите возрастную группу, представители которой чаще являются агентами, не используя фильтрацию. Возрастные группы:
0-35: Young
36-55: Middle-aged
56+: Senior
 
В качестве разделителя используйте точку. В поле для ответа запишите ответы на вопросы сверху, разделенные символом «;». Если ответы равны 23, [mean: 43.654, median: 42.332, std: 15.464] и Young, то ответ должен выглядеть так: «23;43.7 42.3 15.5;Young»

In [11]:
import pandas as pd
import pathlib
import scipy

work_path = pathlib.Path.cwd().parent.parent
data_path = pathlib.Path(work_path, 'files/task_8', "3.3.2.csv")
print(work_path)
print(data_path)
ds = pd.read_csv(data_path, sep=';')

e:\Учёба\Для проектиков по IT\ITM\5_IO_streams
e:\Учёба\Для проектиков по IT\ITM\5_IO_streams\files\task_8\3.3.2.csv

In [ ]:
ds

          Agent Name  Agent age      Time of deal   Price
0           John Doe         35  2024-10-30 12:34  150.50
1         Jane Smith         45  2024-10-30 09:45  320.00
2    Michael Johnson         28  2024-10-30 14:12  260.75
3        Emily Davis         30  2024-10-30 16:50  180.10
4       Chris Wilson         50  2024-10-30 10:25  400.25
..               ...        ...               ...     ...
81   Avery Hernandez         44  2024-10-30 15:40  185.35
82    James Martinez         38  2024-10-30 11:15  170.90
83         Mia Evans         52  2024-10-30 12:10  240.20
84  Alexander Turner         37  2024-10-30 10:20  210.50
85          Zoe Bell         25  2024-10-30 12:55  145.70

[86 rows x 4 columns]

In [41]:
def get_most_common_transaction_hour(data) -> int:
    """Находит час, в который чаще всего совершались сделки."""
    data["Time of deal"] = pd.to_datetime(data["Time of deal"], format="%Y-%m-%d %H:%M")
    most_th = data['Time of deal'].dt.hour.mode()[0]
    return most_th

def get_price_statistics(data) -> str:
    """Находит среднее, медиану и стандартное отклонение у округленных до целого значений df['Price']. 
    Ответ округлен до десятых и выписан через пробел."""
    rounded_prices = data['Price'].round()
    mean_v = rounded_prices.mean()
    median_v = rounded_prices.median()
    std_v = rounded_prices.std()
    rd_mean = round(mean_v, 1)
    rd_median = round(median_v, 1)
    rd_std = round(std_v, 1)
    return str(f"{rd_mean} {rd_median} {rd_std}")


def get_most_common_age_group(data) -> str:
    """Находит возрастную группу, представители которой чаще являются агентами, не используя фильтрацию. 
    Возрастные группы:
    0-35: Young
    36-55: Middle-aged
    56+: Senior"""
    data['Age_category'] = data['Agent age'].apply(lambda age: 'Young' if age <= 35 else 'Middle-aged' if 35 < age <= 55 else 'Senior')
    most_common_group  = data['Age_category'].value_counts().idxmax()
    return most_common_group

In [42]:
v1 = get_most_common_transaction_hour(ds)
v2 = get_price_statistics(ds)
v3 = get_most_common_age_group(ds)

print(f"{v1};{v2};{v3}") #

12;254.2 237.5 80.4;Middle-aged

In [ ]:
v1 = get_most_common_transaction_hour(ds)
v2 = get_price_statistics(ds)
v3 = get_most_common_age_group(ds)

print(f"{v1};{v2};{v3}") #

12;254.2 237.5 80.4;Middle-aged