In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('https://drive.google.com/uc?export=download&id=1GztFVF32hUQkzDD-kHfH37vstbvwKJwp')

In [ ]:
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [ ]:
df['Avg. Session Length Rounded'] = df['Avg. Session Length'].round()

## Работа со столбцами

### Обращение к столбцам

Pandas был бы бесполезен, если бы с его помощью нельзя было бы обратиться к отдельным столбцам. К столбцам можно обращаться как заключая их названия в квадратные скобки, так и через точку

In [ ]:
df['Avatar']

0                Violet
1             DarkGreen
2                Bisque
3           SaddleBrown
4      MediumAquaMarine
             ...
495                 Tan
496       PaleVioletRed
497            Cornsilk
498                Teal
499         DarkMagenta
Name: Avatar, Length: 500, dtype: object

In [ ]:
df.Avatar

0                Violet
1             DarkGreen
2                Bisque
3           SaddleBrown
4      MediumAquaMarine
             ...
495                 Tan
496       PaleVioletRed
497            Cornsilk
498                Teal
499         DarkMagenta
Name: Avatar, Length: 500, dtype: object

### Получение базовой информации о столбцах

#### values и value_counts()

С помощью __values__ можно узнать какие значения присутствуют в вашем столбце (с повторениями), а с помощью __value_counts()__ посмотреть, сколько раз какие значения встречаются.

In [ ]:
df['Avatar'].values

array(['Violet', 'DarkGreen', 'Bisque', 'SaddleBrown', 'MediumAquaMarine',
       'FloralWhite', 'DarkSlateBlue', 'Aqua', 'Salmon', 'Brown',
       'Tomato', 'Tomato', 'RoyalBlue', 'Bisque', 'DarkBlue', 'Peru',
       'PowderBlue', 'OliveDrab', 'Cyan', 'LightSeaGreen', 'PeachPuff',
       'Black', 'Olive', 'Silver', 'Wheat', 'Teal', 'Linen',
       'MediumSlateBlue', 'LemonChiffon', 'DarkOrchid', 'SeaGreen',
       'SteelBlue', 'DarkMagenta', 'DarkGoldenRod', 'DarkSeaGreen',
       'Gainsboro', 'HotPink', 'LightSeaGreen', 'HoneyDew', 'WhiteSmoke',
       'GhostWhite', 'DarkSlateBlue', 'Chocolate', 'HoneyDew', 'Snow',
       'BurlyWood', 'Moccasin', 'BlueViolet', 'MediumBlue', 'GreenYellow',
       'SandyBrown', 'MediumVioletRed', 'DarkBlue', 'SandyBrown',
       'DarkOliveGreen', 'GreenYellow', 'DarkSalmon', 'DarkSeaGreen',
       'DeepPink', 'Olive', 'SkyBlue', 'Magenta', 'DarkTurquoise',
       'Silver', 'SpringGreen', 'OliveDrab', 'Aqua', 'OrangeRed',
       'LimeGreen', 'SkyBlue', 'LightGreen', 'SandyBrown', 'Teal',
       'LightYellow', 'MintCream', 'DimGray', 'Indigo', 'LightSalmon',
       'GreenYellow', 'DeepSkyBlue', 'DarkGreen', 'LimeGreen',
       'DarkGoldenRod', 'Turquoise', 'LightGreen', 'LightSteelBlue',
       'Cornsilk', 'LemonChiffon', 'DarkKhaki', 'FireBrick',
       'LightSeaGreen', 'SlateGray', 'Crimson', 'MidnightBlue',
       'DarkGoldenRod', 'DarkCyan', 'SteelBlue', 'OldLace', 'MediumBlue',
       'Gray', 'LightPink', 'BlanchedAlmond', 'Wheat', 'Aqua',
       'BlueViolet', 'CadetBlue', 'PaleTurquoise', 'DimGray', 'Moccasin',
       'Chartreuse', 'Khaki', 'MediumSpringGreen', 'LemonChiffon',
       'PeachPuff', 'Lime', 'Tomato', 'SlateBlue', 'Orange', 'Fuchsia',
       'GoldenRod', 'GreenYellow', 'ForestGreen', 'Moccasin', 'Indigo',
       'SlateBlue', 'Cyan', 'MintCream', 'Lime', 'Moccasin', 'Green',
       'LightSkyBlue', 'BlueViolet', 'Azure', 'LightGray', 'DarkCyan',
       'GreenYellow', 'Crimson', 'MediumOrchid', 'Sienna', 'Aquamarine',
       'FloralWhite', 'SlateBlue', 'Sienna', 'LimeGreen', 'Teal',
       'WhiteSmoke', 'Purple', 'SlateGray', 'LightPink', 'LimeGreen',
       'DarkSlateBlue', 'DimGray', 'CornflowerBlue', 'DarkSlateGray',
       'MidnightBlue', 'LightSkyBlue', 'MediumBlue', 'Wheat',
       'SpringGreen', 'DarkRed', 'Orange', 'LightGray', 'DarkViolet',
       'LimeGreen', 'CadetBlue', 'DarkMagenta', 'ForestGreen',
       'LightSkyBlue', 'MediumAquaMarine', 'Salmon', 'LavenderBlush',
       'Green', 'SpringGreen', 'Navy', 'OliveDrab', 'LightSalmon',
       'RosyBrown', 'DeepPink', 'Pink', 'LightGreen', 'GreenYellow',
       'Sienna', 'DarkKhaki', 'LightGray', 'DarkRed', 'Aqua', 'Red',
       'Lavender', 'DeepPink', 'White', 'MediumSeaGreen', 'MediumPurple',
       'LightGreen', 'Tan', 'LawnGreen', 'LightSkyBlue', 'BurlyWood',
       'Peru', 'Thistle', 'DarkMagenta', 'LemonChiffon',
       'MediumVioletRed', 'Teal', 'SlateGray', 'Turquoise', 'Gainsboro',
       'Orchid', 'Yellow', 'AntiqueWhite', 'AliceBlue', 'Tomato',
       'PapayaWhip', 'MediumSeaGreen', 'BlueViolet', 'Tomato',
       'DarkSlateGray', 'Gold', 'Moccasin', 'MediumSeaGreen',
       'LightGreen', 'Orange', 'Cyan', 'SlateBlue', 'BlanchedAlmond',
       'LavenderBlush', 'Navy', 'MediumBlue', 'Moccasin', 'CadetBlue',
       'MediumTurquoise', 'DarkGreen', 'RoyalBlue', 'DarkGoldenRod',
       'Thistle', 'White', 'MediumSpringGreen', 'WhiteSmoke', 'BurlyWood',
       'YellowGreen', 'White', 'Cyan', 'SlateBlue', 'LightSkyBlue',
       'DarkTurquoise', 'Gainsboro', 'LightCyan', 'LightCoral',
       'Turquoise', 'DarkOliveGreen', 'Teal', 'DeepPink',
       'MediumTurquoise', 'DarkCyan', 'PeachPuff', 'Aqua',
       'MediumTurquoise', 'HotPink', 'SeaShell', 'Orange', 'CadetBlue',
       'LightCoral', 'Orchid', 'Crimson', 'LightGoldenRodYellow',
       'DarkGoldenRod', 'HotPink', 'Blue', 'Violet', 'Pink', 'SandyBrown',
       'LightBlue', 'Gold', 'SteelBlue', 'FloralWhite', 'Green',
       'PaleGoldenRod', 'Navy', 'Coral', 'DarkGreen', 'LightSteelBlue',
       'Aquamarine', 'DarkViolet', 'MediumSpringGreen', 'OliveDrab',
       'Purple', 'BlueViolet', 'RoyalBlue', 'DarkSeaGreen',
       'AntiqueWhite', 'Blue', 'FloralWhite', 'Navy', 'DarkOrange',
       'Aqua', 'Ivory', 'LavenderBlush', 'Cyan', 'Tan', 'PaleVioletRed',
       'LightPink', 'Thistle', 'CadetBlue', 'AntiqueWhite', 'GhostWhite',
       'DarkOrchid', 'DarkGray', 'Gainsboro', 'DarkSalmon', 'Ivory',
       'MediumSlateBlue', 'Cyan', 'SeaGreen', 'Purple', 'LightBlue',
       'Brown', 'Chocolate', 'Thistle', 'Purple', 'MistyRose', 'Indigo',
       'Gold', 'PeachPuff', 'LightSalmon', 'DarkOrange', 'SlateBlue',
       'MintCream', 'NavajoWhite', 'Tomato', 'DarkSeaGreen', 'Lavender',
       'DodgerBlue', 'Wheat', 'MediumVioletRed', 'Magenta', 'SeaShell',
       'HoneyDew', 'LightCyan', 'Khaki', 'Crimson', 'White', 'RoyalBlue',
       'DarkViolet', 'DarkSeaGreen', 'Navy', 'Gray', 'Purple',
       'RosyBrown', 'White', 'MediumTurquoise', 'Bisque', 'SaddleBrown',
       'YellowGreen', 'LavenderBlush', 'IndianRed', 'DarkKhaki',
       'SaddleBrown', 'Orchid', 'DarkCyan', 'Aquamarine', 'Brown',
       'DarkMagenta', 'Cornsilk', 'LightSalmon', 'Chocolate',
       'PaleVioletRed', 'Wheat', 'OldLace', 'SlateBlue', 'Orchid',
       'MediumAquaMarine', 'SeaGreen', 'MediumSpringGreen',
       'LightSeaGreen', 'DarkKhaki', 'SaddleBrown', 'Turquoise',
       'AntiqueWhite', 'GoldenRod', 'Teal', 'Bisque', 'PaleGreen',
       'RosyBrown', 'Crimson', 'Brown', 'Gold', 'SeaGreen', 'LightYellow',
       'LemonChiffon', 'DarkOrange', 'LightCyan', 'Gray',
       'MediumVioletRed', 'OrangeRed', 'DeepPink', 'DeepPink',
       'GhostWhite', 'Green', 'CadetBlue', 'DarkOliveGreen', 'IndianRed',
       'Snow', 'DarkSeaGreen', 'BlueViolet', 'OliveDrab',
       'MediumSpringGreen', 'MediumSlateBlue', 'GhostWhite', 'Purple',
       'SandyBrown', 'LightCyan', 'LightSalmon', 'Chartreuse',
       'DarkGoldenRod', 'Cornsilk', 'Magenta', 'SaddleBrown',
       'DarkViolet', 'Chocolate', 'DarkViolet', 'Magenta', 'HotPink',
       'DodgerBlue', 'Turquoise', 'Blue', 'PaleVioletRed', 'MidnightBlue',
       'BlanchedAlmond', 'Black', 'DodgerBlue', 'DarkGreen',
       'BlanchedAlmond', 'Bisque', 'Cyan', 'Lavender', 'Violet',
       'Fuchsia', 'MistyRose', 'CadetBlue', 'LightSteelBlue', 'Brown',
       'Salmon', 'FireBrick', 'Lime', 'GreenYellow', 'DarkOrchid', 'Blue',
       'Olive', 'Wheat', 'AliceBlue', 'OliveDrab', 'Linen',
       'LightSlateGray', 'Indigo', 'Lime', 'SteelBlue', 'Olive',
       'HoneyDew', 'MidnightBlue', 'DarkViolet', 'Sienna', 'Pink',
       'LightSkyBlue', 'SaddleBrown', 'SteelBlue', 'Thistle',
       'BlanchedAlmond', 'Turquoise', 'Orange', 'Beige', 'YellowGreen',
       'SlateGray', 'Bisque', 'Orange', 'DimGray', 'MediumBlue',
       'AntiqueWhite', 'Beige', 'Beige', 'PeachPuff', 'LightPink',
       'WhiteSmoke', 'MediumOrchid', 'Olive', 'MistyRose', 'DarkRed',
       'Pink', 'DarkGray', 'Orchid', 'PeachPuff', 'Magenta', 'GhostWhite',
       'SeaShell', 'DarkBlue', 'MediumSeaGreen', 'DarkTurquoise', 'Tan',
       'PaleVioletRed', 'Cornsilk', 'Teal', 'DarkMagenta'], dtype=object)

In [ ]:
df['Avatar'].value_counts()

Avatar
SlateBlue               7
Cyan                    7
CadetBlue               7
GreenYellow             7
Teal                    7
                       ..
MediumPurple            1
CornflowerBlue          1
LightGoldenRodYellow    1
PowderBlue              1
LawnGreen               1
Name: count, Length: 138, dtype: int64

#### unique

С помощью __unique()__ можно узнать уникальные значения, встречающиеся в вашем столбце

In [ ]:
df['Avatar'].unique()

array(['Violet', 'DarkGreen', 'Bisque', 'SaddleBrown', 'MediumAquaMarine',
       'FloralWhite', 'DarkSlateBlue', 'Aqua', 'Salmon', 'Brown',
       'Tomato', 'RoyalBlue', 'DarkBlue', 'Peru', 'PowderBlue',
       'OliveDrab', 'Cyan', 'LightSeaGreen', 'PeachPuff', 'Black',
       'Olive', 'Silver', 'Wheat', 'Teal', 'Linen', 'MediumSlateBlue',
       'LemonChiffon', 'DarkOrchid', 'SeaGreen', 'SteelBlue',
       'DarkMagenta', 'DarkGoldenRod', 'DarkSeaGreen', 'Gainsboro',
       'HotPink', 'HoneyDew', 'WhiteSmoke', 'GhostWhite', 'Chocolate',
       'Snow', 'BurlyWood', 'Moccasin', 'BlueViolet', 'MediumBlue',
       'GreenYellow', 'SandyBrown', 'MediumVioletRed', 'DarkOliveGreen',
       'DarkSalmon', 'DeepPink', 'SkyBlue', 'Magenta', 'DarkTurquoise',
       'SpringGreen', 'OrangeRed', 'LimeGreen', 'LightGreen',
       'LightYellow', 'MintCream', 'DimGray', 'Indigo', 'LightSalmon',
       'DeepSkyBlue', 'Turquoise', 'LightSteelBlue', 'Cornsilk',
       'DarkKhaki', 'FireBrick', 'SlateGray', 'Crimson', 'MidnightBlue',
       'DarkCyan', 'OldLace', 'Gray', 'LightPink', 'BlanchedAlmond',
       'CadetBlue', 'PaleTurquoise', 'Chartreuse', 'Khaki',
       'MediumSpringGreen', 'Lime', 'SlateBlue', 'Orange', 'Fuchsia',
       'GoldenRod', 'ForestGreen', 'Green', 'LightSkyBlue', 'Azure',
       'LightGray', 'MediumOrchid', 'Sienna', 'Aquamarine', 'Purple',
       'CornflowerBlue', 'DarkSlateGray', 'DarkRed', 'DarkViolet',
       'LavenderBlush', 'Navy', 'RosyBrown', 'Pink', 'Red', 'Lavender',
       'White', 'MediumSeaGreen', 'MediumPurple', 'Tan', 'LawnGreen',
       'Thistle', 'Orchid', 'Yellow', 'AntiqueWhite', 'AliceBlue',
       'PapayaWhip', 'Gold', 'MediumTurquoise', 'YellowGreen',
       'LightCyan', 'LightCoral', 'SeaShell', 'LightGoldenRodYellow',
       'Blue', 'LightBlue', 'PaleGoldenRod', 'Coral', 'DarkOrange',
       'Ivory', 'PaleVioletRed', 'DarkGray', 'MistyRose', 'NavajoWhite',
       'DodgerBlue', 'IndianRed', 'PaleGreen', 'LightSlateGray', 'Beige'],
      dtype=object)

## Индексирование

Перейдем к двум очень важным для понимания свойствам – __loc[]__ и __iloc[]__. Они позволяют обращаться к определенным строкам (или даже значениям), но имеют несколько принципиальных отличий

### loc[]

С помощью __loc__ можно обращаться к определенным строкам (или значениям) по именам индексов и столбцов. В квадратных скобках вы пишете название строки и название столбца через запятую

Это свойство будет тяжело понять на датасете этого урока (так как тут числовые индексы, хотя с числовыми индексами loc тоже работает), поэтому по-быстрому сделаем новую таблицу.

In [ ]:
data = {'Name': ['Anna', 'Boris', 'Polina'], 'Age': [28, 34, 27], 'Salary' : [1000, 1500, 1800], 'Occupation' : ['Data Scientist', 'Data Analyst', 'Data Engineer']}
df2 = pd.DataFrame(data, index=['a', 'b', 'c'])
df2

     Name  Age  Salary      Occupation
a    Anna   28    1000  Data Scientist
b   Boris   34    1500    Data Analyst
c  Polina   27    1800   Data Engineer

Узнаем имя человека, записанного в строке 'b':

In [ ]:
df2.loc['b', 'Name']

'Boris'

В __loc__ можно работать со срезами как в индексе, так и в столбцах – обратите внимание, что здесь они __включают__ последнее значение. Если захотите посмотреть все строки, но какой-то определенный столбец (проще сделать это через обращение к столбцу, но ладно), то вместо имени строки пишите двоеточие – я называю это «срез, который ничего толком и не срезает».

In [ ]:
df2.loc['b':'c', 'Name':'Salary']

     Name  Age  Salary
b   Boris   34    1500
c  Polina   27    1800

In [ ]:
df2.loc[:, 'Salary']

a    1000
b    1500
c    1800
Name: Salary, dtype: int64

Если вы хотите посмотреть какие-то строки (или столбики), которые друг за другом не идут – используйте списки

In [ ]:
df2.loc[['a', 'c'], ['Name', 'Occupation']]

     Name      Occupation
a    Anna  Data Scientist
c  Polina   Data Engineer

### iloc[]

__iloc[]__, в отличие от loc, выбирает данные по их числовым позициям (индексам), и не будет работать с названиями строк/столбцов. Еще одно большое отличие – срезы не включают последнее значение. В остальном свойство идентично loc'у.

In [ ]:
df.iloc[0:2]

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent,Avg. Session Length Rounded
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054,34.0
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933,32.0

In [ ]:
df.iloc[:, 2:7]

,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership
0,Violet,34.497268,12.655651,39.577668,4.082621
1,DarkGreen,31.926272,11.109461,37.268959,2.664034
2,Bisque,33.000915,11.330278,37.110597,4.104543
3,SaddleBrown,34.305557,13.717514,36.721283,3.120179
4,MediumAquaMarine,33.330673,12.795189,37.536653,4.446308
...,...,...,...,...,...
495,Tan,33.237660,13.566160,36.417985,3.746573
496,PaleVioletRed,34.702529,11.695736,37.190268,3.576526
497,Cornsilk,32.646777,11.499409,38.332576,4.958264
498,Teal,33.322501,12.391423,36.840086,2.336485
499,DarkMagenta,33.715981,12.418808,35.771016,2.735160

In [ ]:
df.iloc[2:10, [3, 4, 7]]

   Avg. Session Length  Time on App  Yearly Amount Spent
2            33.000915    11.330278           487.547505
3            34.305557    13.717514           581.852344
4            33.330673    12.795189           599.406092
5            33.871038    12.026925           637.102448
6            32.021596    11.366348           521.572175
7            32.739143    12.351959           549.904146
8            33.987773    13.386235           570.200409
9            31.936549    11.814128           427.199385

### idxmin() и idxmax()

У loc и iloc хорошая совместимость с методами __idxmin()__ и __idxmax()__ – с помощью них можно узнать индекс наименьшей/наибольшей величины в каком-то столбце (или во всех сразу).

In [ ]:
df.idxmin()

Email                          370
Address                        299
Avatar                         209
Avg. Session Length             12
Time on App                    309
Time on Website                157
Length of Membership           447
Yearly Amount Spent            225
Avg. Session Length Rounded     12
dtype: int64

In [ ]:
df['Avg. Session Length'].idxmax()

154

In [ ]:
df.iloc[[df['Avg. Session Length'].idxmax(), df['Avg. Session Length'].idxmin()]]

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent,Avg. Session Length Rounded
154,nathan86@hotmail.com,"748 Michael Plaza\nWest Billyside, UT 20799",MidnightBlue,36.139662,12.050267,36.959643,3.864861,595.803819,36.0
12,knelson@gmail.com,"6705 Miller Orchard Suite 186\nLake Shanestad,...",RoyalBlue,29.532429,10.961298,37.420216,4.046423,408.640351,30.0

## Статистические показатели числовых столбцов

Перейдем к функциям, с помощью которых мы сможем найти статистические показатели числовых столбцов. Это очень важно для понимания наших данных.

### max() и min()

С помощью функций __min()__ и __max()__ можно найти минимальное и максимальное значение в столбце. Не знаю, что тут еще написать. Хотите анекдот?

In [ ]:
df['Avg. Session Length'].min()

29.532428967057943

In [ ]:
df['Avg. Session Length'].max()

36.13966248879052

### quantile()

Квантиль (перцентиль) – это такое число, ниже которого находится определенный процент значений. Например, если взять 25-й квантиль, то ниже выведенного значения будет находиться 25% всех значений.

Самые популярные разновидности квантиля это медиана и квартили. Медиана (или 50-й квантиль/перцентиль) – это значение, меньше которого будет 50% всех значений. Квартили это квантили, которые делят значения на четверти (25%, 50% и 75%)

In [ ]:
df['Avg. Session Length'].quantile(0.25)

32.34182200451777

### Меры центральной тенденции

Основные меры центральной тенденции – это среднее (mean), мода (mode) и медиана (median). Их можно найти с помощью одноименных функций.

In [ ]:
df['Avg. Session Length'].mean()

33.05319351819619

In [ ]:
df['Avg. Session Length Rounded'].mode()

0    33.0
Name: Avg. Session Length Rounded, dtype: float64

In [ ]:
df['Avg. Session Length'].median()

33.08200760262899

### Меры изменчивости

Перейдем к обсуждению мер изменчивости. Рассмотрим 4 из них: размах, межквартильный размах (IQR), дисперсию (VARiance, var) и стандартное отклонение (STandard Deviation, std). Для нахождения первых двух нет функций – придется делать ручками.

In [ ]:
# Найдем размах
range = df['Avg. Session Length'].max() - df['Avg. Session Length'].min()
range

6.607233521732578

In [ ]:
# Найдем межквартильный размах
Q1 = df['Avg. Session Length'].quantile(0.25)
Q3 = df['Avg. Session Length'].quantile(0.75)

IQR = Q3 - Q1
IQR

1.3701630194366956

In [ ]:
df['Avg. Session Length'].var()

0.985181529485813

In [ ]:
df['Avg. Session Length'].std()

0.992563111084536

### describe()

Метод, который объединяет в себе mean(), std(), min(), нахождение квартилей (в том числе второго квартиля – медианы) и max() – describe(). Идеальное решение, чтобы по-быстрому познакомиться со столбцом.

In [ ]:
df['Avg. Session Length'].describe()

count    500.000000
mean      33.053194
std        0.992563
min       29.532429
25%       32.341822
50%       33.082008
75%       33.711985
max       36.139662
Name: Avg. Session Length, dtype: float64

### corr()

Чтобы найти коэффициент корреляции какого-то числового массива данных с другим числовым массивом данных, можно использовать функцию **corr()**. У этой функции присутствует аргумент *method* который принимает значения 'pearson' (по умолчанию), 'spearman' и 'kendall' и отвечает за то, какой показатель корреляции будет рассчитан для данных – коэффициент Пирсона, Спирмэна или Кендалла.

In [ ]:
df['Avg. Session Length'].corr(df['Time on App'])

-0.02782598355566175

In [ ]:
df['Avg. Session Length'].corr(df['Time on App'], method='spearman')

-0.020667730670922684


Если применить функцию к датасету, то она вернет DataFrame с матрицой корреляций.

In [ ]:
# Сначала из датасета выберем колонки, по которым хотим построить матрицу корреляций, а потом создадим ее
selected_columns = ['Avg. Session Length', 'Time on App', 'Time on Website', 'Length of Membership']
selected_df = df[selected_columns]
corr_matrix = selected_df.corr(method='pearson')

corr_matrix

,Avg. Session Length,Time on App,Time on Website,Length of Membership
Avg. Session Length,1.000000,-0.027826,-0.034987,0.060247
Time on App,-0.027826,1.000000,0.082388,0.029143
Time on Website,-0.034987,0.082388,1.000000,-0.047582
Length of Membership,0.060247,0.029143,-0.047582,1.000000

In [ ]:
df['Length of Membership'].corr(df['Yearly Amount Spent'], method='spearman')

0.7799147996591986